.DS_Store
*~
src/glott/*~
src/gslwrap/*~
src/.DS_Store
.cproject
.project
Makefile
src/Makefile
src/glott/Makefile
autom4te.cache/*
autom4te.cache/requests
src/libgslwrap.a
src/gslwrap/*.o
src/glott/*.o
p*.dat
wav/*.exc.wav
wav/*.syn.wav
wav/*.F0
wav/*.Gain
wav/*.GlottalExcitation
wav/*.HNR
wav/*.LSF
wav/*.LSFsource
wav/*.PLS
data/*
src/Analysis
src/Synthesis