*.DS_Store
*~
*#
src/glott/*~
src/gslwrap/*~
src/.DS_Store
.cproject
.project
src/libgslwrap.a
*.o
p*.dat
*.exc.wav
*.syn.wav
*.F0
*.Gain
*.GlottalExcitation
*.HNR
*.LSF
*.LSFsource
*.PLS
data/*
bin/*
build*/
src/Analysis
src/Synthesis
src/LsfPostFilter
src/Analysis.dSYM/
src/glott/.deps/
src/gslwrap/.deps/
*.pyc
doc/GlottDNN_manual.aux
doc/GlottDNN_manual.log
doc/GlottDNN_manual.out
doc/GlottDNN_manual.synctex.gz
doc/GlottDNN_manual.toc
.vscode/*