*.DS_Store
*~
*#
src/glott/*~
src/gslwrap/*~
src/.DS_Store
.cproject
.project
Makefile
src/Makefile
src/glott/Makefile
autom4te.cache/*
autom4te.cache/requests
src/libgslwrap.a
*.o
p*.dat
*.exc.wav
*.syn.wav
*.F0
*.Gain
*.GlottalExcitation
*.HNR
*.LSF
*.LSFsource
*.PLS
data/*
bin/*
src/Analysis
src/Synthesis
src/LsfPostFilter
src/Analysis.dSYM/
src/glott/.deps/
src/gslwrap/.deps/
aclocal.m4
config.log
config.status
xsconfig.status
*.pyc
doc/GlottDNN_manual.aux
doc/GlottDNN_manual.log
doc/GlottDNN_manual.out
doc/GlottDNN_manual.synctex.gz
doc/GlottDNN_manual.toc